{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    // "airbnb/base",
    "airbnb-typescript/base",
    // "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "jquery": true
  },
  "globals": {
    "window": "readonly"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],

  "rules": {
    // "no-unused-vars": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/indent": [
      "warn",
      2
    ],
    "@typescript-eslint/no-var-requires": "off",
    "linebreak-style": "off",
    // "no-underscore-dangle": "off",
    "consistent-return": "off",
    // "no-alert": "off",
    "no-console": 0,
    "no-return-await": "off",
    // "no-await-in-loop": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": ["warn"],
    "max-len": [
      "warn",
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreComments": true
      }
    ],
    "class-methods-use-this": "off",
    "semi": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }], //disallow trailing whitespace at the end of lines
    "no-prototype-builtins": "error",
    "no-mixed-spaces-and-tabs": [
      "error",
      "smart-tabs"
    ],
    "import/extensions": [
      "off",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "prefer-destructuring": ["warn", {
      "array": true,
      "object": true
    }, {
      "enforceForRenamedProperties": false
    }]
  }
}