-let num = -1
mixin sliderWithPanel(id)
  -let _id = id ? id : 'js-mySlider'+num
  -num += 1 
  .slider-with-panel(id='slider-with-panel-'+num class='slider-with-panel-'+num)
    .slider-with-panel__slider(id=_id)
    .slider-with-panel__panel