-var _num= -1
mixin sliderWithPanel(id)
  -var _id = id ? id : 'js-mySlider'+_num
  -_num += 1 
  .slider-with-panel(id='slider-with-panel-'+_num class='slider-with-panel-'+_num)
    .slider-with-panel__slider(id=_id)
    .slider-with-panel__panel