* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  background-color: lemonchiffon;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  padding-top: 1em;
  background: darkgoldenrod;

}

h1 {
  text-align: center;
  letter-spacing: 3px;   
}

hr {
border: 0;
height: 2px;
background: #000;
background-image: linear-gradient(to left, #fff, #000, #fff);
}