-var _num= -1
mixin sliderWhithPanel(id)
  -var _id = id ? id : 'sad'
  -_num += 1 
  .slider-whith-panel(id='slider-whith-panel-'+_num)
    .slider-whith-panel__slider(id=_id)
    .slider-whith-panel__panel
      .slider-whith-panel__panel-value Value:
        //- label(for="value") Value:
        input.slider-whith-panel__value(type="number" name="value" id="value1")
        input.slider-whith-panel__value(type="number" name="value" id="value2")
      
      .slider-whith-panel__panel-type
        span Type:
        label(for="single") Single
        input.slider-whith-panel__value(type="radio" name="type" id="single" checked)
        label(for="range") Range
        input.slider-whith-panel__value(type="radio" name="type" id="range")
      
      .slider-whith-panel__panel-direction Direction:
        label(for="direction") Horizontal
        input.slider-whith-panel__value(type="radio" name="direction" id="horizontal" checked)
        label(for="direction") Vertical
        input.slider-whith-panel__value(type="radio" name="direction" id="vertical" checked)
      
      .slider-whith-panel__panel-tooltip Tooltip:
        label(for="tooltipOn") On
        input.slider-whith-panel__value(type="radio" name="tooltip" id="tooltipOn")
        label(for="tooltipOff") Off
        input.slider-whith-panel__value(type="radio" name="tooltip" id="tooltipOff")

      .slider-whith-panel__panel-scale Scale:  
        label(for="scaleOn") On
        input.slider-whith-panel__value(type="radio" name="scale" id="scaleOn")
        label(for="scaleOff") Off
        input.slider-whith-panel__value(type="radio" name="scale" id="scaleOff")
      
      .slider-whith-panel__panel-scale Step:  
        //- label(for="scale") Scale:
        input.slider-whith-panel__value(type="number" name="scale" id="scaleOff")