include ../blocks/presentationPage/sliderWhithPanel.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="img/favicon.ico" type="image/ico")
        title MVP slider
    body
        h1 Slider presentation
        +sliderWhithPanel('mySlider')
        br
        +sliderWhithPanel('')
        +sliderWhithPanel('')
        +sliderWhithPanel('')