include ../blocks/slider-with-panel/slider-with-panel.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="jquery-plugin, MVP, slider")
    meta(name="description" content="mySlider - jquery плагин, использует в своей основе паттерн проектирования MVP.")
    link(rel="icon", href="img/favicon.ico" type="image/ico")
    title mySlider
  body
    main
      h1 Slider presentation
      +sliderWithPanel()
      hr
      +sliderWithPanel()
      hr
      +sliderWithPanel()
      hr
      +sliderWithPanel()
      hr  
    footer
      address © ssamvelk, 2020