.panel {
  &__value-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    margin-top: 10px;

    input[type="number"] {
      width: 100px;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
    }
  }

  &__type-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 10px;

    label {
      margin-right: 3px;
      margin-left: 10px;
    }
  }

  &__direction-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 10px;

    label {
      margin-right: 3px;
      margin-left: 10px;
    }
  }

  &__tooltip-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 10px;

    label {
      margin-right: 3px;
      margin-left: 10px;
    }
  }

  &__step-wrap {
    height: 25px;
    margin-top: 10px;

    input[type="number"] {
      width: 100px;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
    }
  }

  &__scale-wrap {
    height: 75px;
    margin-top: 10px;

    label {
      margin-right: 3px;
      margin-left: 10px;
    }
  }

  &__scale-init-wrap {
    height: 25px;
  }

  &__scale-type-wrap,
  &__scale-num-wrap {
    height: 25px;

    input[type="number"] {
      width: 100px;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
    }
  }
}
